/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import "bootstrap/scss/bootstrap";
@import "main";

#title {
  text-decoration: none;
  color: white;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  
  h1 {
    margin: 0
  }
}

h1 {
  font-size: 90px;
}

h4 {
  font-size: 70px;
}

p {
  font-size: 50px;
  padding: 10px;
}

.contact-details {
  font-size: 50px;
}

.link-to-new {
  padding: 20px;
}

.row {
  width: 100%
}

.col{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

td {
  color: white;
  padding: 10px;
}

.emails, .addresses {
  background-color: rgb(168, 217, 245);
  border-radius: 15px;
}

.phone-numbers {
  background-color: rgb(176, 191, 199);
  border-radius: 15px;
}

.email, .phone-number, .address {
  width: 30%;
  min-width: 300px;
}


 